.city-selector-container {
  place-content: end;
}

.city-selector {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  position: relative;
}

@media screen and (min-width: 576px) {
  .city-selector-container {
    order: -1;
    place-content: start;
    display: grid;
  }
}

@media screen and (min-width: 992px) {
  .city-selector-container {
    place-content: unset;
    place-items: unset;
  }
  .city-selector {
    position: sticky;
    top: var(--space-4);
    height: fit-content
  }
}

.button-wrapper {
  display: flex;
  justify-content: end;
  gap: var(--space-2);
  align-items: center;
  flex-direction: column-reverse;
  overflow: hidden;
}

.button-wrapper button {
  width: 100%;
}

.site-header {
  font-size: var(--font-size-h2);
}

@media screen and (min-width: 576px) {
  
    .button-wrapper {
    flex-direction: row;
    overflow: unset;
  }

  .button-wrapper button {
    width: auto;
  }

  .site-header {
    font-size: var(--font-size-h1);
  }
}

.city-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.clear-button {
  position: absolute;
  right: 0;
  margin-right: 1em;
}

.suggestions {
  position: absolute;
  bottom: 0;
  top: 100%;
  height: fit-content;
  list-style: none;
  border-radius: 0 0 var(--space-2) var(--space-2);
  z-index: 1;
  width: 100%;
}

.suggestions li {
  padding: 0.5em 1em;
  background: var(--neutral-800);
  transition: ease-out 0.3s;
}

.suggestions li:hover {
  background: var(--neutral-700);
  transition: none;
}

.suggestions li:active {
  background: var(--neutral-600);
}

.options-wrapper {
  display: flex;
  gap: var(--space-2);
  width: 100%;
}

.options-wrapper > * {
  flex-grow: 1;
  display: flex;
  padding: 1em;
}

.app-description {
  font-size: var(--font-size-h6);
}

@media screen and (min-width: 576px) {
  .app-description {
    font-size: var(--font-size-h5);
  }
}

@media screen and (min-width: 992px) {
  .options-wrapper {
    flex-shrink: 1;
  }
}