footer {
    border-top: 1px solid var(--neutral-800);
    display: flex;
    align-items: center;
    padding: var(--space-3) var(--space-2) 0 var(--space-2);
    justify-content: center;
    flex-direction: column;
    margin-top: var(--space-3);
}

footer .logo {
    aspect-ratio: 1/1;
    height: var(--space-4);
    width: var(--space-4);
}
