header {
    position: relative;
    margin-bottom: var(--space-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    aspect-ratio: 1/1;
    height: var(--space-4);
}

@media screen and (min-width: 768px) {

    header {
        margin-bottom: var(--space-2);
    }
}

@media screen and (min-width: 992px) {

    header {
        position: sticky;
        top: var(--space-3);
        margin-bottom: var(--space-3);
    }
}

header .logo-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}

header .logo-container:hover {
    transform: scale(1.05);
    transform-origin: center;
}

.theme-toggle {
    padding: 1em;
    min-width: calc(var(--space-3) + var(--space-2));
}

.theme-toggle:after {
    content: "Switch to dark mode";
    position: absolute;
    font-size: var(--font-size-small);
    background: var(--neutral-700);
    padding: var(--space-0);
    border-radius: var(--space-0);
    top: calc(100% + var(--space-0));
    right: 0;
    display: none;
}