.weather-display {
  width: 100%;
  /* display: flex;
  align-items: center; */
}

.weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3);
    width: 100%;
  }
  
.weather-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--space-2);
  margin-top: var(--space-3);
}

.weather-data > * {
  flex: 1;
}

.weather-location {
  text-align: center;
}

.weather-city {
  text-align: center;
}

  .weather-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .weather-advice {
    width: 100%;
  }

  .weather-quote-author {
    text-align: right;
  }

  
.weather-advice label:not(:first-child) {
  margin-top: var(--space-2);
}

.weather-temperature {
  text-align: center;
}

.weather-temperature small {
  margin: 0;
}

.system-message {
  text-align: center;
  width: 100%;
}

.weather-icon {
  height: var(--space-4);
  margin: var(--space-2) auto;
}