.App {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - 20rem);
  /* max-width: var(--space-7); */
  margin: var(--space-3) auto;
  gap: var(--space-3);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  justify-content: space-between;
}

@media screen and (min-width: 576px) {
  .content {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 992px) {
  .App {
    justify-content: center;
  }
  .content {
    flex-direction: row-reverse;
    gap: var(--space-4);
  }
}



