.App {
  display: grid;
  justify-content: space-between;
  min-height: calc(100vh - 20rem);
  margin: var(--space-3) auto;
  gap: var(--space-3);
  width: 100%;
}

.content {
  display: grid;
  gap: var(--space-3);
  max-width: var(--space-7);
}

@media screen and (min-width: 576px) {
  .App {
    display: flex;
    justify-content: center;
  }

  .content {
    gap: var(--space-4);
  }
}

@media screen and (min-width: 992px) {
  .App {
    display: grid;
  }

  .content {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}



