.App {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: 100vh;
  padding: var(--space-3);
  max-width: var(--space-7);
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .App {
    justify-content: center;
    gap: var(--space-3);
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-4);
    max-width: unset;
    width: 100%;
  }
}

